.footer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
      align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #1a1e23;
  padding: 8px;

  .copyright {
    color: #fff;
    font-size: 20px;
    justify-content: center;
    font-weight: 700;
    
  }


  .icons {
    display: flex;

    & li a {
      color: white;
      font-size: 25px;
    }
   
    .facebook:hover{
        color: #4267B2;
    }

    .instagram:hover{
            color:#c71953de	
    }

    .twitter:hover{
        color:#1DA1F2
    }
  }
}
