.createCar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
  
    .createCarForm {
      display: flex;
      flex-direction: column;
      background: #191919;
      min-width: 450px;
      padding: 100px;
      justify-content: space-between;
      align-items: center;
      border: 0.3em solid black;
      border-radius: 1.5em;
      background: var(--contact-form-background, rgb(0, 0, 0, 0.8));
      padding: 30px;
  
      .carHeading {
        color: white;
        text-transform: uppercase;
        font-size: 2.3em;
        font-weight: 700;
        letter-spacing: 1.5px;
        text-shadow: 1px 0px 2px #fff1f1;
        transition: ease-in-out 0.2s;
        margin-bottom: 20px;
      }
  
      div {
        border-radius: 14px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        padding: 5px;
        border: 1px solid red;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
  
      div:focus {
        border: 2px solid #2ecc71;
        transition: ease-in-out 0.2s;
      }
  
      select,
      input {
        outline: none;
        border: 1px solid #9da5b2;
        border-radius: 0.7em;
        padding: 0.5em 0.3em;
        transition: 0.2s;
        width: 50%;
      }
  
      label {
        font-size: 1.1em;
        padding-left: 0.5em;
        color: white;
  
        
      }
    }
  }
  
  .createCar option {
    font-size: 1.2em;
    color: black;
    border-radius: 15px;
  }
  
  .createCarBtn {
    display: block;
    font-weight: 700;
    margin: 20px auto;
    border-style: none;
    padding: 8px 60px;
    color: white;
    border-radius: 10px;
    background: #d81921;
    transition: 0.25s;
    text-transform: uppercase;
    font-size: 1.3em;
  
    &:hover {
      background-color: #ad2026;
    }
  }
  